<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="testJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.telenoetica.scheduler.job.TestJob" />
		<property name="requestsRecovery" value="false" />
		<property name="volatility" value="true" />
	</bean>
	
	<bean id="testJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="testJob" />
	    <property name="volatility" value="true"/>    
	    <property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"></property>
		<!-- run every day 00:10 -->
		<property name="cronExpression" value="0 0 12 1/1 * ? *" />
		<!-- Every 1 minute Cron Expression -->
		 <!--<property name="cronExpression" value="0 0/2 * 1/1 * ? *" /> -->
	</bean>
	
	

</beans>
